---
- name: Update System
  apt:
    update_cache: yes
    upgrade: yes

- name: Install MySQL
  apt:
    name:
      - mysql-client
      - mysql-server

- name: Install pip
  apt:
    name: python3-pip
    state: present

- name: Install PyMySQL
  pip:
    name: PyMySQL
    state: present

- name: Set password for root user
  mysql_user:
    name: admin
    password: "sW^TxU6R"
    priv: '*.*:ALL,GRANT'
    host: 'localhost'
    login_unix_socket: /var/run/mysqld/mysqld.sock
    state: present
  no_log: true

- name: restart mysql
  service: 
    name: mysql
    enabled: yes
    state: restarted

- name: Create Database
  mysql_db:
    login_user: admin 
    login_password: "sW^TxU6R"
    name: wordpress 
    state: present

- name: Add mysql-user
  mysql_user:
    login_user: root
    login_password: "{{ mysql_pass }}" 
    user: wordpress 
    password: "{{ user_pass }}" 
    host: localhost
    state: present
    priv: '*.*:ALL,GRANT'

- name: restart mysql
  service: 
    name: mysql
    enabled: yes
    state: restarted